body {
    margin-bottom: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px !important;
    padding: 0px !important;
}

#layoutPrincipal {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0,0, 0.5)),url(../images/FONDO.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* <!-- https://pixabay.com/es/photos/m%c3%a9dico-cita-healthcare-cl%c3%adnica-563427/ --> */
